body{
  font-family:Arial;
  background:rgb(233, 232, 232);
}

.box{
  width:300px;
  margin:80px auto;
  background:#fff;
  padding:20px;
  border-radius:8px;
  text-align:center;
}

input{
  width:92%;
  padding:10px;
  margin:8px 0;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  padding:20px;
}

.card{
  background:#fff;
  padding:10px;
  border-radius:8px;
  text-align:center;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
}

.card img{
  width:100%;
  height:150px;
  object-fit:cover;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.search-box{
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 8px;
    margin: 0 auto 20px auto;
    display: block;
}

#e{
  color: darkblue;
}

h1{
  text-align: center;
  color: rgb(151, 112, 112);
  font-size: 70px;
  font-family: 'Courier New', Courier, monospace;
}

#shopping{
  background-color: rgb(151, 112, 112);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 100px;
  display: block;
}

.home{
  background-color: rgb(151, 112, 112);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 1000px;
  height: 100px;
  width: 300px;
  margin: 10px;
  display: block;
}

#shopping:hover, .home:hover {
  background-color: rgb(112, 84, 84);
}
